
<h1>POR STATUS</h1>
<div data-controller="barchart">
  <canvas id="bar-chart" data-barchart-target="myChart" width="800" height="450"></canvas>
</div>

<h1>ESSE ANO</h1>
<div data-controller="linechart">
  <canvas id="line-chart" data-linechart-target="myChart" width="800" height="450"></canvas>
</div>