<h1>Editing kanban column</h1>

<%= render "form", kanban_column: @kanban_column %>

<br>

<div>
  <%= link_to "Show this kanban column", @kanban_column %> |
  <%= link_to "Back to kanban columns", kanban_columns_path %>
</div>
