<p style="color: green"><%= notice %></p>

<h1>Kanban columns</h1>

<div id="kanban_columns">
  <% @kanban_columns.each do |kanban_column| %>
    <%= render kanban_column %>
    <p>
      <%= link_to "Show this kanban column", kanban_column %>
    </p>
  <% end %>
</div>

<%= link_to "New kanban column", new_kanban_column_path %>
