<p style="color: green"><%= notice %></p>

<div class="container text-center mt-5">
  <h1 class="text-white">Colunas</h1>

  <div id="kanban_columns" class="row">
    <% @kanban_columns.each do |kanban_column| %>
      <div class="col-md-6">
        <div class="card bg-dark text-white mb-3">
          <div class="card-body">
            <%= render kanban_column %>
            <p>
              <%= link_to "Mostrar essa coluna", kanban_column, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Criar nova coluna", new_kanban_column_path, class: "btn btn-success" %>
</div>


