<h1 class="text-center text-white mt-3">Nova coluna</h1>
  <%= render "form", kanban_column: @kanban_column %>
<br>

<div>
  <%= link_to "Voltar para colunas", kanban_columns_path, class: "btn btn-danger text-white fs-7 m-2" %>
</div>
